#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_configure:
	cmake -S runtimes -B build_runtimes_genericjs \
		-GNinja -C runtimes/CheerpCmakeConf.cmake \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_TOOLCHAIN_FILE="/opt/cheerp/share/cmake/Modules/CheerpToolchain.cmake"
	cmake -S runtimes -B build_runtimes_wasm \
		-GNinja -C runtimes/CheerpCmakeConf.cmake \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_TOOLCHAIN_FILE="/opt/cheerp/share/cmake/Modules/CheerpWasmToolchain.cmake"

override_dh_auto_build:
	dh_auto_build -Bbuild_runtimes_genericjs
	dh_auto_build -Bbuild_runtimes_wasm

override_dh_auto_test:


override_dh_auto_install:
	dh_auto_install -Bbuild_runtimes_genericjs
	dh_auto_install -Bbuild_runtimes_wasm

override_dh_installdocs:
	install -d debian/cheerp-libcxx-libcxxabi/usr/share/doc/cheerp-libcxx-libcxxabi/
	cp --reflink=auto -a ./libcxx/LICENSE.TXT debian/cheerp-libcxx-libcxxabi/usr/share/doc/cheerp-libcxx-libcxxabi/LICENSE.TXT.cheerp-libcxx.gz
	cp --reflink=auto -a ./libcxx/COPYING debian/cheerp-libcxx-libcxxabi/usr/share/doc/cheerp-libcxx-libcxxabi/COPYING.cheerp-libcxx.gz
	cp --reflink=auto -a ./libcxxabi/LICENSE.TXT debian/cheerp-libcxx-libcxxabi/usr/share/doc/cheerp-libcxx-libcxxabi/LICENSE.TXT.cheerp-libcxxabi.gz
	cp --reflink=auto -a ./libcxxabi/COPYING debian/cheerp-libcxx-libcxxabi/usr/share/doc/cheerp-libcxx-libcxxabi/COPYING.cheerp-libcxxabi.gz
	dh_installdocs
