Source: cheerp-compiler-rt
Maintainer: Alessandro Pignotti <alessandro@leaningtech.com>
Section: devel
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>=8), cmake, cheerp-llvm-clang (>=${source:Version}), cheerp-utils (>=${source:Version}), cheerp-musl (>=${source:Version}), cheerp-libcxx-libcxxabi (>=${binary:Version}), python3, ninja-build

Package: cheerp-compiler-rt
Architecture: any
Conflicts: cheerp
Depends: ${shlibs:Depends}, ${misc:Depends}, cheerp-llvm-clang (>=${binary:Version}), cheerp-utils (>=${binary:Version}), cheerp-musl (>=${binary:Version}), cheerp-libcxx-libcxxabi (>=${binary:Version})
Description: Compiler runtime libraries for Cheerp
