#!/usr/bin/make -f

deb_version := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@  -Scmake --parallel --builddirectory=build

override_dh_auto_configure:
	mkdir -p build
	cd build && cmake \
	    -C ../llvm/CheerpCmakeConf.cmake \
	    -DCMAKE_BUILD_TYPE=Release \
	    -DCLANG_VENDOR="Cheerp ${deb_version}" \
	    -DLLVM_ENABLE_PROJECTS=clang \
	    ../llvm/

override_dh_auto_install:
	dh_auto_install --builddirectory=build --destdir=debian/tmp

override_dh_auto_test:
	dh_auto_test
