#!/usr/bin/make -f

deb_version := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@ --parallel --builddirectory=build

override_dh_auto_configure:
	mkdir -p build
	cd build && cmake \
		-C ../llvm/CheerpCmakeConf.cmake \
		-DCMAKE_BUILD_TYPE=MinSizeRel \
		-DCLANG_VENDOR="Cheerp ${deb_version}" \
		-DLLVM_ENABLE_PROJECTS=clang \
		../llvm/ \
		-GNinja

override_dh_auto_install:
	dh_auto_install --builddirectory=build --destdir=debian/tmp

override_dh_auto_build:
	cd build && ninja -v

override_dh_auto_test:
