#!/usr/bin/make -f

deb_version := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
ifndef CIRCLECI
	FLAGS_RELEASE="-DNDEBUG -O2"
else
	FLAGS_RELEASE="-O2"
endif

%:
	dh $@ --parallel --builddirectory=build

override_dh_auto_configure:
	mkdir -p build
	cd build && cmake \
		-C ../llvm/CheerpCmakeConf.cmake \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_CXX_FLAGS_RELEASE=${FLAGS_RELEASE} \
		-DCLANG_VENDOR="Cheerp ${deb_version}" \
		-DLLVM_ENABLE_PROJECTS=clang \
		../llvm/ \
		-GNinja \
		-DCMAKE_CXX_COMPILER=clang++ \
		-DCMAKE_C_COMPILER=clang \
		-DCMAKE_EXE_LINKER_FLAGS=-fuse-ld=lld \
		-DCMAKE_SHARED_LINKER_FLAGS=-fuse-ld=lld \
		-DCMAKE_MODULE_LINKER_FLAGS=-fuse-ld=lld \

override_dh_auto_install:
	cd build && DESTDIR=${PWD}/debian/tmp ninja install-distribution

override_dh_auto_build:
    ifndef CIRCLECI
		cd build && ninja distribution
    else
		cd build && ninja -j${THREADS} distribution
    endif


override_dh_auto_test:
    ifndef CIRCLECI
		cd build && ninja check
    endif
