Source: cheerp-libcxxabi
Maintainer: Alessandro Pignotti <alessandro@leaningtech.com>
Section: devel
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>=8), cmake, cheerp-llvm-clang, cheerp-utils, cheerp-newlib, cheerp-libcxx

Package: cheerp-libcxxabi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cheerp-llvm-clang, cheerp-utils, cheerp-newlib, cheerp-libcxx
Conflicts: cheerp
Description: A C++ compiler for the Web, C++ ABI implementation
 Cheerp is a tool to bring C++ programming to the Web,
 designed to provide a seamless experience for client/server
 development.
