#!/usr/bin/make -f

%:
	dh $@ -Scmake --parallel

override_dh_auto_configure:
	dh_auto_configure -Bbuild_genericjs -- \
	    -DCMAKE_BUILD_TYPE=Release \
	    -DCMAKE_INSTALL_PREFIX=/opt/cheerp \
	    -DCMAKE_TOOLCHAIN_FILE=/opt/cheerp/share/cmake/Modules/CheerpToolchain.cmake \
	    -DCHEERP_LINEAR_OUTPUT=asmjs \
	    -DLIBCXXABI_ENABLE_SHARED=OFF \
	    -DLIBCXXABI_ENABLE_ASSERTIONS=OFF \
	    -DLIBCXXABI_LIBCXX_PATH=$(CURDIR)/libcxx/ \
	    -DLIBCXXABI_LIBCXX_INCLUDES=$(CURDIR)/libcxx/include/ \
	    -DLIBCXXABI_ENABLE_THREADS=0 \
	    -DLLVM_CONFIG=/opt/cheerp/bin/llvm-config \
	    libcxxabi
	dh_auto_configure -Bbuild_asmjs -- \
	    -DCMAKE_BUILD_TYPE=Release \
	    -DCMAKE_INSTALL_PREFIX=/opt/cheerp \
	    -DCMAKE_TOOLCHAIN_FILE=/opt/cheerp/share/cmake/Modules/CheerpWasmToolchain.cmake \
	    -DCHEERP_LINEAR_OUTPUT=asmjs \
	    -DLIBCXXABI_ENABLE_SHARED=OFF \
	    -DLIBCXXABI_ENABLE_ASSERTIONS=OFF \
	    -DLIBCXXABI_LIBCXX_PATH=$(CURDIR)/libcxx/ \
	    -DLIBCXXABI_LIBCXX_INCLUDES=$(CURDIR)/libcxx/include/ \
	    -DLIBCXXABI_ENABLE_THREADS=0 \
	    -DLLVM_CONFIG=/opt/cheerp/bin/llvm-config \
	    libcxxabi

override_dh_auto_build:
	dh_auto_build -Bbuild_genericjs
	dh_auto_build -Bbuild_asmjs

override_dh_auto_test:
	

override_dh_auto_install:
	dh_auto_install -Bbuild_genericjs
	dh_auto_install -Bbuild_asmjs
