#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cd lib; CXX="/opt/cheerp/bin/clang -target cheerp" ./buildit

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/cheerp-libcxxabi/opt/cheerp/lib
	cp lib/libcxxabi.bc $(CURDIR)/debian/cheerp-libcxxabi/opt/cheerp/lib
