#!/usr/bin/make -f

deb_version := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@ -Scmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_BUILD_TYPE=Release \
	    -DCMAKE_INSTALL_PREFIX=/opt/cheerp \
	    -DLLVM_DEFAULT_TARGET_TRIPLE=cheerp \
	    -DLLVM_TARGETS_TO_BUILD="CheerpBackend;CheerpWasmBackend;X86" \
	    -DCLANG_VENDOR="Cheerp ${deb_version}"

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
