#!/usr/bin/make -f

%:
	dh $@ -Scmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_BUILD_TYPE=Release \
	    -DCMAKE_INSTALL_PREFIX=/opt/cheerp \
	    -DCMAKE_TOOLCHAIN_FILE=/opt/cheerp/share/cmake/Modules/CheerpToolchain.cmake \
	    -DLIBCXX_ENABLE_SHARED=OFF \
	    -DLIBCXX_ENABLE_ASSERTIONS=OFF \
	    -DLIBCXX_CXX_ABI_INCLUDE_PATHS=$(CURDIR)/libcxxabi/include \
	    -DLIBCXX_CXX_ABI=libcxxabi \
	    -DCMAKE_CXX_FLAGS="-target cheerp -nostdlib -frtti"
